.navbar {
    background-color: #128a02; 
    color: white;
    font-size: large;
}

.navbar a {
    color: white;
}

.nav-link.dropdown-toggle {
    text-decoration: none;
    cursor: default;
    background-color: transparent;
    color: inherit;
    border: none;
    outline: none;
  }

.dropdown-menu{
    background-color: #128a02; 
    color: #ffffff;
}

html, body {
    height: 100%;
}

.body {
    margin: 0;
    padding: 0;
    background-image: url("/img/fondo3.jpeg");
    background-repeat: no-repeat;
    background-size: cover; 
}

.fotos {
    max-width: fit-content;
    margin: auto;
}
.carousel-item{
    height: 500px !important;
    object-fit: contain !important;
}

.carousel-inner{
    width: 500px;
}

main {
    flex: 1; 
}

#footer {
    position: absolute;
    bottom: 0;
    
}
.btn.btn-success.m-1 {
    color: black;
    background-color: #128a02; 
}

.btn.btn-success.m-1:hover 
{
    background-color: #128a02; 
    border-color: #128a02; 
    color: black; 
}

.mail
{
    max-width: fit-content;
    margin: auto;
}

@media (max-width: 576px) {
    .container {
      width: 100%;
    }
  
    #carouselExample {
        margin-bottom: 20px;
    }
  
    #mail {
      display: block;
    }
  }

@media (min-width: 768px) and (max-width: 1024px) {
    .container {
      width: 75%;
    }
  
    #carouselExample {
      width: 75%;
      margin-bottom: 20px;
    }
  
    #mail {
      display: block;
    }
  }

@media (min-width: 1200px) {
    .container {
      width: 50%;
    }
  
    #carouselExample {
        margin-bottom: 20px;
        width: 50%;
    }
  
    #mail {
      display: block;
    }
  }
 
.slide-bottom {
	-webkit-animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-bottom {
    0% {
      -webkit-transform: translateY(100px);
              transform: translateY(100px);
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(4px);
    }
  }
  @keyframes slide-bottom {
    0% {
        -webkit-transform: translateY(100px);
                transform: translateY(100px);
      }
      100% {
        -webkit-transform: translateY(0);
                transform: translateY(4px);
    }
  }
  